@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
  margin: 0%;
  padding: 0%;
  font-family: 'Lexend Deca', sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
#switchbar {
  margin: 30px auto 0 auto;
  width: 94%;
}
#sliderbar {
  margin: 30px auto 0 auto;
  width: 90%;
}
#switchbar h3,
#sliderbar h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}
.slider-container {
  margin-top: 10px;
}

.MuiSlider-root .MuiSlider-markLabel {
  color: #fff;
}
